header {
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    background-color: blue;
}

#box {
    display: flex;
}

.left-nav {
    background-color: #0d253b!important;
    background-image: url(../img/sidebar-bg.png);
    object-fit: cover;
    height: 100vh;
}